html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
@media(min-width:768px) {
	#page-wrapper {
		min-height: 568px;
	}
}
.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px !important; /* Set the fixed height of the footer here */
	background-color: #f5f5f5;
	text-align: center;
	line-height: 60px;
}
.front-logo {
	text-align: center;
	margin-top: 15%;
	margin-bottom: 5%;
}
.tab-table {
	padding-top: 2%;
}
#loading {
	text-align: center;
}
.accordion-toggle:after {
	font-family: 'FontAwesome';
	content: "\f078";
	float: right;
}
.accordion-opened .accordion-toggle:after {
	content: "\f054";
}
.voffset-top {
	margin-top: 10px;
}
.table tbody > tr > th, .table tbody > tr > td {
	vertical-align: middle;
}